@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Montserrat:ital,wght@0,500;1,400&display=swap');
html {
    background-color: #f1f1f1;
    font-family: 'Lato', sans-serif;
}

#item-div:first-child {
    margin-top: 0; 
}

.task-show-container {
    padding: 20px;
    width: 70%;
    max-height: 400px;
    overflow-y: auto;
}

#task-title,
#dropdown-box {
	height: 30px;
    width: 100%;
}

#add-btn {
    padding: 9px;
    margin-top: 20px;
    background-color: #4500ff;
    color: white;
    border: 1px solid #4500ff;
    width: 100%;
    cursor: pointer;
}

#item-div {
    font-size: 18px;
    width: 49%;
    padding: 30px;
    background-color: white;
    letter-spacing: 1px;
    border: 1px solid #4500ff;
    margin-top: 20px;
}

#description-box {
    margin-top: 10px;
    height: 70px;
    width: 100%;
    border: 1px solid #4500ff;    
}

#item-div p {
    margin: 0;
    margin-top: 5px;    
}

#priority-dropdown {
    border: 1px solid #4500ff;
    margin-top: 10px;
}

input {
    border: 1px solid #4500ff;
}

#priority-alert-msg,
#description-alert-msg,
#title-alert-msg {
    display: none;
    color: red;
    font-weight: 600;
}

.badge-high {
    color: white;
    background-color: green;
    border: 1px solid green;
    font-size: 14px;
    padding: 3px;
    line-height: 2;
    font-weight: 600;
}

.badge-medium {
    color: #212529;
    background-color: #ffc107;
    border: 1px solid yellow;
    font-size: 14px;
    padding: 3px;
    line-height: 2;
    font-weight: 600;
}

.badge-low {
    color: #fff;
    background-color: #dc3545;
    border: 1px solid red;
    font-size: 14px;
    padding: 3px;
    line-height: 2;
    font-weight: 600;
}